[submodule "libWRP-time"]
	path = libWRP-time
	url = git@github.com:usagi/libWRP-time.git
[submodule "libWRP-log"]
	path = libWRP-log
	url = git@github.com:usagi/libWRP-log.git
[submodule "libWRP-message"]
	path = libWRP-message
	url = git@github.com:usagi/libWRP-message.git
